@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:Chakra Petch, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    @apply text-white w-screen h-screen;
    background-image: url("../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}